body {
 font-family: sans-serif;
}

.top-header {
  border: 1px solid black;
  height: 7vh;
  border-radius: 4px;
  width: 100%;
  display: flex;
  align-items: center;
}

.top-heading {
  margin-left: 1vw;
  font-weight: 400;
  font-size: 5vh;
}

.sub-header {
  /* background: rgba(186, 223, 227, 0.7); */
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.5vw;
}

#new-title{
  height: 60%;
  width: 15vw;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 2vh;
}

#title-add-link{
  height: 60%;
}

#title-add-link img{
  height: 100%;
}

.todo-lists-container {
  border-top: solid black 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: scroll;
  height: 84vh;
}

.todo-list-card {
  border: 1px solid black;
  border-radius: 2%;
  height: 60vh;
  width: 25vw;
  margin: 2vh;
  display: flex;
  flex-direction: column;
}

.card-header {
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  flex: 10%;
  justify-content: space-between;
  align-items: center;
}

.card-heading {
  text-align: center;
  flex: 90%;
  padding-left:1vw ;
}

.delete-todo-list-link {
  height: 30px;
  width: 25px;
  cursor: pointer;
  margin-right: 1vw;
  align-self: center;
  flex: 10%;
}

.delete-todo-list-link img{
  height: 100%;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  flex: 85%;
}

.task {
  margin-top: 1vh;
  display: flex;
  width: 100%;
  border: 1px solid transparent;
  align-items: center;
}

 .check-box{
  flex: 10%;
  margin-left: 1vw;
}

.check-box > input {
  cursor: pointer;
}

.task-text {
  flex: 80%;
  font-size: 20px;
  font-weight: 200;
  /* word-wrap: break-word; */
  word-break: break-all;
  outline: none;
}

.delete-task-link {
  margin-left: 1vw;
  margin-right: 1vw;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.delete-task-link img{
  height: 100%;
  width: 100%;
}

.card-footer {
  flex: 5%;
  display: flex;
  margin: 1vh 1vw 2vh 1vw;
}

.card-footer > input {
  width: 100%;
  height: 80%;
  font-size: 18px;
  font-weight: 300;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
