body {
  background: white;
}

.topHeader {
  background: rgba(31, 200, 219, 0.7);
  border: solid white 1px;
  height: 10vh;
  border-radius: 1vh;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.navigationBar {
  align-self: center;
  margin: 1vh;
}

.topHeading {
  font-weight: 400;
  font-size: 5vh;
  padding: 2vh;
}

.pageContainer {
  display: flex;
  justify-content: space-between;
}

.leftContainer {
  height: 80vh;
  width: 20vw;
  border: solid black 1px;
}

.rightContainer {
  border: solid black 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: scroll;
  height: 70vh;
  width: 80vw;
  padding: 5vh;
}

.cardLayout {
  border: 1px solid black;
  height: 40vh;
  width: 35vh;
  margin: 4vh;
  display: flex;
  border-bottom: 1px solid black;
}

.cardHeader {
  font-size: 25px;
  border-bottom: 1px solid black;
  height: 17%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headTitle {
  margin: 10px;
}

.dustbin {
  height: 20px;
  width: 20px;
  margin: 12px;
  cursor: pointer;
}

.toDoForm {
  height: 50vh;
  width: 20vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.formHeader {
  border-bottom: 1px solid black;
  flex: 10%;
}

.formBody {
  flex: 80%;
  overflow-y: scroll;
}

.formFooter {
  flex: 10%;
}
