body {
  background: white;
}

.topHeader {
  background: rgba(31, 200, 219, 0.7);
  border: solid white 1px;
  height: 10vh;
  border-radius: 1vh;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.navigationBar {
  align-self: center;
  margin: 1vh;
}

.topHeading {
  font-weight: 400;
  font-size: 5vh;
  padding: 2vh;
}

.pageContainer {
  display: flex;
  justify-content: space-between;
}

.leftContainer {
  height: 80vh;
  width: 20vw;
  border: solid black 1px;
}

.rightContainer {
  border: solid black 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: scroll;
  height: 70vh;
  width: 80vw;
  padding: 5vh;
}

.title {
  border: 1px solid black;
  height: 30vh;
  width: 30vh;
  margin: 4vh;
}

h2 {
  margin: 10px auto;
  text-align: center;
}

.header {
  font-size: 25px;
  display: flex;
  justify-content: centre;
}
