<!DOCTYPE html>
<html>

<head>
  <title>ToDo</title>
  <link rel="stylesheet" href="./css/style.css" />
  <script src="js/webRequests.js"></script>
  <script src="js/eventListeners.js"></script>
  <script src="js/cardManipulators.js"></script>
</head>

<body>
  <div class="top-header">
    <div class="top-heading">TODO</div>
    <div class="user-info">
      <div class="user-name">__name__</div>
      <div class="logout-link">
        <a href="logout"><img src="images/logout.png"></a>
      </div>
    </div>
  </div>
  <div class="sub-header">
    <div class="create-title-block">
      <input type="text" placeholder="Enter Title..." id="new-title"
        onkeydown="createToDoList()" />
      <div id="title-add-link" onclick="addToDoList()"><img
          src="images/addToDoList.png" alt="add"></div>
    </div>
    <div class="search-bars">
      <input type="text" placeholder="Search Title..." id="search-title"
        onkeyup="filterTitle()" />
      <input type="text" placeholder="Search Task..." id="search-task"
        onkeyup="filterTask()" onclick="resetTitleSearchBar()" />
    </div>
  </div>
  <div class=" todo-lists-container"></div>
  </div>
</body>

</html>